name: Build Horizon v10 RPCS3 Edition
on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Setup Android SDK
        uses: android-actions/setup-android@v3

      - name: Build APK with Optimizations
        run: |
          chmod +x gradlew
          ./gradlew assembleDebug -PcustomName="Horizon_v10_RPCS3"

      - name: Upload Finished APK
        uses: actions/upload-artifact@v4
        with:
          name: Horizon-v10-RPCS3-Build
          path: app/build/outputs/apk/debug/*.apk
